.board {
    position: absolute;
    top: 50px;
    left: 50px;
}

.square {
    position: absolute;
    border: 1px solid;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

.pawn {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid red;
    box-sizing: border-box;
}

.fence {
    position: absolute;
    background-color: #CD853F;
}

.horizontal-fence {
    width: 70px;
    height: 10px;
}

.vertical-fence {
    width: 10px;
    height: 70px;
}

.game button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button {
    background-color: #4CAF50;
    border: none;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color ease-in-out 500ms;
}

.vertical-button {
    padding: 35px 5px;
}

.horizontal-button {
    padding: 5px 35px;
}

.add-fence {
    position: absolute;
    opacity: 0;
}

.add-horizontal-fence {
    width: 35px;
    height: 10px;
}

.add-vertical-fence {
    width: 10px;
    height: 35px;
}

.add-fence:hover .button {
    display: inline-block;
}

.add-fence:hover {
    background-color: #4CAF50;
    opacity: 1;
    transition: opacity ease-in-out 500ms;
}

.form-fence {
    position: relative;
} 

.form-fence input {
    top: 0;
    position: absolute;
}

.form-fence button {
    top: 0;
    position: absolute;
}

.game {
    position: absolute;
    top: 0px;
    left: 50px;
}
