<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/quoridor.css}" />
</head>

<body>
    <div class="board">
        <div th:each="square : ${squares}" class="square" th:style="${'top: ' + square.row * 40 + 'px; left: ' + square.column * 40 + 'px'}"></div>
        <div class="pawn" th:style="${'top: ' + pawn.position.row * 40 + 'px; left: ' + pawn.position.column * 40 + 'px'}">
        </div>
    </div>
</body>

</html>
