<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="2" />
    <title>Welcome to Quoridor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/quoridor.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fireworks.css}" />
</head>

<body>
    <div class="game">
        <form method="post" action="/quoridor">
            <button type="submit">New game</button>
        </form>
    </div>

    <div class="board"
        th:with="delta=${40}, squareSize=${30}">
        <div th:each="square : ${squares}" class="square"
            th:style="${'top: ' + square.row * delta + 'px; left: ' + square.column * delta + 'px'}"></div>

        <div th:each="instance : ${possibleMoves}" class="square"
             th:style="${'top: ' + instance.key.row * delta + 'px; left: ' + instance.key.column * delta + 'px'}">
            <form method="post" action="/quoridor/move-pawn">
                <input type="hidden" name="direction" th:value="*{instance.value}">
                <button type="submit" class="button move-square"></button>
            </form>
        </div>

        <div class="pawn"
            th:each="pawn, iStat: ${pawns}"
            th:with="pos_x=${pawn.position.row * delta + 3}, pos_y=${pawn.position.column * delta + 3}"
            th:style="${'top: ' + pos_x + 'px; left: ' + pos_y + 'px'}"
            th:classappend="${iStat.index == 0} ? first-pawn : second-pawn">
        </div>

        <div th:each="fence: ${verticalFences}" class="fence vertical-fence"
            th:with="pos_x=${fence.northwestTile.row * delta}, pos_y=${fence.northwestTile.column * delta + squareSize}"
            th:style="${'top: ' + pos_x + 'px; left: ' + pos_y + 'px'}">
        </div>

        <div th:each="fence: ${horizontalFences}" class="fence horizontal-fence"
            th:with="pos_x=${fence.northwestTile.row * delta + squareSize}, pos_y=${fence.northwestTile.column * delta}"
            th:style="${'top: ' + pos_x + 'px; left: ' + pos_y + 'px'}">
        </div>

        <div th:each="addfence: ${addVerticalFences}" class="add-fence add-vertical-fence"
            th:with="pos_x=${addfence.northwestTile.row * delta}, pos_y=${addfence.northwestTile.column * delta + squareSize}"
            th:style="${'top: ' + pos_x + 'px; left: ' + pos_y + 'px'}">
            <form method="post" action="/quoridor/add-fence">
                <input type="hidden" name="row" th:value="*{addfence.northwestTile.row}">
                <input type="hidden" name="column" th:value="*{addfence.northwestTile.column}">
                <input type="hidden" name="horizontal" value="false">
                <button type="submit" class="button vertical-button"></button>
            </form>
        </div>

        <div th:each="addfence: ${addHorizontalFences}" class="add-fence add-horizontal-fence"
            th:with="pos_x=${addfence.northwestTile.row * delta + squareSize}, pos_y=${addfence.northwestTile.column * delta}"
            th:style="${'top: ' + pos_x + 'px; left: ' + pos_y + 'px'}">
            <form method="post" action="/quoridor/add-fence" class="form-fence">
                <input type="hidden" name="row" th:value="*{addfence.northwestTile.row}">
                <input type="hidden" name="column" th:value="*{addfence.northwestTile.column}">
                <input type="hidden" name="horizontal" value="true">
                <button type="submit" class="button horizontal-button"></button>
            </form>
        </div>

    </div>

    <div th:if="${waiting}">
        <span th:text="${waiting}" class="message"></span>
    </div>

    <div class="pyro" th:if="${victory}">
        <div class="before"></div>
        <div class="after"></div>
        <span th:text="${victory}" class="message"></span>
    </div>

    <div th:if="${turn}">
        <span th:text="${turn}" class="message"></span>
        <div class="pawn turn-pawn"
            th:classappend="${player == 1} ? first-pawn : second-pawn">
        </div>
    </div>
</body>

</html>
